<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.game">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Tapioca Launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StatsActivity"></activity>
        <activity android:name=".TapiocaGameLauncher" />
        <activity android:name=".TilesGameLauncher" />
        <activity android:name=".MazeGameLauncher" />
        <activity android:name=".TilesGame.GameFinish" />
        <activity
            android:name=".TapiocaLauncher.TapiocaGameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.noActionBar" />
        <activity
            android:name=".TilesGame.TileGameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.noActionBar" />
        <activity
            android:name=".MazeGame.MazeGameActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.noActionBar" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.noActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.noActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.noActionBar" />
        <activity
            android:name=".GameOverActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.noActionBar" />
    </application>

</manifest>